.top-bar-text {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 12px;
    color: #b1ffc0;
}

.spectrum-panel {
    background-color: #121713;
    height: 70%;
}

.control-panel {
    background-color: #f2fbf4;
}

.shadow-bar {
    height: 1px;
    shadow: 0px 4px 48px 12px rgb(50 155 80 / 60%);
}

.knob {
    height: 80px;
    width: 80px;
    shadow:
        4px 4px 24px 4px rgb(80 123 80 / 20%),
        -4px -4px 24px 4px white;
    corner-radius: 48px;
    scale: 100%;
    transition: scale 233ms;
    transition: shadow 233ms;
}

.knob:hover {
    scale: 95%;
    shadow:
        4px 4px 24px 0px rgb(80 123 80 / 20%),
        4px 4px 24px 0px white;
    transition: scale 233ms;
    transition: shadow 233ms;
}

.knob-cont {
    /*background-color: red;*/
    height: auto;
    width: auto;
    gap: 10px;
    alignment: center;
}

.params-label {
    background-color: white;
    color: black;
    transition: background-color 233ms;
    transition: color 233ms;
}

.params-label:hover {
    background-color: black;
    color: white;
    transition: background-color 233ms;
    transition: color 233ms;
}

.waveform-view {
    color: palegreen;
}

.ticks {
    opacity: 0;
}

.peak-meter {
    border-color: palegreen;
    width: 114px;
}

.top-bar {
    padding: 4px;
    height: 24px;
}

.top-bar-right {
    gap: 4px;
    width: auto;
}

.info-btn {
    border: 1px dashed;
    color: palegreen;
    height: 20px;
    rotate: 0deg;
    width: 20px;
    border-color: transparent;
    background-color: transparent;
    transition: border-color 233ms;
    transition: rotate 233ms;
    transform-origin: 0px 2px;
    translate: 0px -2px;
}

.info-btn:hover {
    border: 1px dashed;
    border-color: palegreen;
    background-color: transparent;
    alignment: center;
    rotate: 12deg;
    transition: border-color 233ms;
    transition: rotate 233ms;
}

.animated-label {
    rotate: 0deg;
    transition: rotate 2000ms;
}

.animated-label:hover {
    rotate: 720deg;
    transition: rotate 2000ms;
}
